apiVersion: kafka.strimzi.io/v1beta1
kind: Kafka
metadata:
  name: {{ kafka_name }}
spec:
  kafka:
    version: 2.6.0
    replicas: {{ num_kafka_brokers }}
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
      # This is used for accessing the kafka cluster locally.  Port forwarding doesn't 
      # appear to work
      - name: external
        port: 9094
        type: route
        tls: true
    config:
      offsets.topic.replication.factor: '{{ default_replicas }}'
      transaction.state.log.replication.factor: '{{ default_replicas }}'
      transaction.state.log.min.isr: '{{ default_replicas }}'
      log.message.format.version: "2.6"
    storage:
      type: jbod
      volumes:
      - id: 0
        type: persistent-claim
        size: 100Gi
        deleteClaim: false
    resources:
      requests:
        memory: 2Gi
      limits:
        memory: 2Gi
  zookeeper:
    replicas: {{ num_zk_nodes }}
    storage:
      type: persistent-claim
      size: 100Gi
      deleteClaim: false
    resources:
      requests:
        memory: 1Gi
      limits:
        memory: 1Gi
  entityOperator:
    topicOperator: {}
    userOperator: {}