kind: ConfigMap
apiVersion: v1
metadata:
  name: coolstore-topics-cfg
data:
  orders-topic-server: '{{ kafka_name }}-kafka-bootstrap.{{ kafka_project }}:9092'
  payments-topic-server: '{{ kafka_name }}-kafka-bootstrap.{{ kafka_project }}:9092'