kind: Service
apiVersion: v1
metadata:
  name: dbz-ui
  labels:
    app: dbz-ui
    app.kubernetes.io/component: dbz-ui
    app.kubernetes.io/instance: dbz-ui
spec:
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: dbz-ui
  type: ClusterIP
  sessionAffinity: None
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: dbz-ui
  labels:
    app: dbz-ui
    app.kubernetes.io/component: dbz-ui
    app.kubernetes.io/instance: dbz-ui
spec:
  to:
    kind: Service
    name: dbz-ui
    weight: 100
  port:
    targetPort: 8080
  wildcardPolicy: None